<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mission Generator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/terrainstyles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="../static/scripts/generator_scripts.js"></script>
    <script src="../static/scripts/functions.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
<!--                <li class="nav-item active">-->
<!--                    <a class="nav-link" href="#">Logo</a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/">Mission Generator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/terrainHelper">Terrain Helper</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/selectMission">Mission Selector</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#">Mission Generator</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
<!--                <li class="btn-link">-->
<!--                    <a class="btn btn-link" href="#">Login</a>-->
<!--                </li>-->
            </ul>
        </div>
    </nav>
    {% block main %}
    {% endblock main %}
</body>
</html>
