{% extends 'main_template.html' %}

{% block main %}
<div class="container-xl">
    <div class="block">
        <h1>Four Storey Ruin: Area Terrain</h1>
        <div class="d-flex flex-row">
            <div class="p-6">
                <img class="responsive-img" src="../static/imgs/terrain_help/ruin_large.png"/>
            </div>
            <div class="p-6">
                <ul class="list-group">
                    <li class="list-group-item">Scaleable</li>
                    <li class="list-group-item">Breachable</li>
                    <li class="list-group-item">Light Cover</li>
                    <li class="list-group-item">Defensible</li>
                    <li class="list-group-item">Obscuring</li>
                    <li class="list-group-item">7"x7"x9.5"</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="block">
        <h1>Corner Ruin: Area Terrain</h1>
        <div class="d-flex flex-row">
            <div class="p-6">
                <img class="responsive-img" src="../static/imgs/terrain_help/ruin_small.png"/>
            </div>
            <div class="p-6">
                <ul class="list-group">
                    <li class="list-group-item">Scaleable</li>
                    <li class="list-group-item">Breachable</li>
                    <li class="list-group-item">Light Cover</li>
                    <li class="list-group-item">Defensible</li>
                    <li class="list-group-item">Obscuring</li>
                    <li class="list-group-item">7"x7"x5.1"</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="block">
        <h1>Forest: Area Terrain</h1>
        <div class="d-flex flex-row">
            <div class="p-6">
                <img class="responsive-img" src="../static/imgs/terrain_help/forest.png"/>
            </div>
            <div class="p-6">
                <ul class="list-group">
                    <li class="list-group-item">Dense Cover</li>
                    <li class="list-group-item">Breachable</li>
                    <li class="list-group-item">Difficult Ground</li>
                    <li class="list-group-item">Defensible</li>
                    <li class="list-group-item">9"x5"x2"</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="block">
        <h1>Container: Obstacle</h1>
        <div class="d-flex flex-row">
            <div class="p-6">
                <img class="responsive-img" src="../static/imgs/terrain_help/container.png"/>
            </div>
            <div class="p-6">
                <ul class="list-group">
                    <li class="list-group-item">Light Cover</li>
                    <li class="list-group-item">Scaleable</li>
                    <li class="list-group-item">Exposed Position</li>
                    <li class="list-group-item">2.5"x6".5"</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="block">
        <h1>Industrial Vent: Area Terrain</h1>
        <div class="d-flex flex-row">
            <div class="p-6">
                <img class="responsive-img" src="../static/imgs/terrain_help/vent.png"/>
            </div>
            <div class="p-6">
                <ul class="list-group">
                    <li class="list-group-item">Light Cover</li>
                    <li class="list-group-item">Difficult Ground</li>
                    <li class="list-group-item">9"x9"x0.1"</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">Terrain created by: <img class="img-fluid logo_img" src="../static/imgs/logo/logo_wtc.png" alt=""/></div>
</div>
{% endblock main %}
